<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title><%= title%> | Task Manager</title>
  </head>
  <body>
    <div class="container">
      <%- include('./nav.ejs') %>
      <div class="spacer"></div>
      <div class="row">
        <div class="col-12">
          <h1><%= title%></h1>
        </div>
      </div>
