<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        background: #eee;
        color: #333;
      }
    </style>
    <title>About</title>
  </head>
  <body>
    <h1>About</h1>
    <hr />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta eaque modi
      deleniti vero voluptates suscipit, tempore est nihil quidem quibusdam
      dolorem a officia esse natus quis veritatis ut quam facere?
    </p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat eveniet
    officiis ut, impedit et aperiam commodi ab optio obcaecati eligendi ratione
    quam doloremque dicta accusantium minima autem repellat in aliquam?
  </body>
</html>
