<%- include('./partials/header.ejs') %>
<h2>Task Manager</h2>
<p>
  Simple application for managing tasks I created it to enhance my experience in
  express and mongodb
</p>

<ul>
  <li>
    <a
      target="_blank"
      href="https://github.com/MoatazAbdAlmageed/The-Net-Ninja-Node.js-Crash-Course-Tutorial
        "
      >Github Repo</a
    >
  </li>
  <li>
    <a
      target="_blank"
      href="https://www.youtube.com/playlist?list=PL4cUxeGkcC9jsz4LDYc6kv3ymONOKxwBU"
      >Youtube playlist</a
    >
  </li>
</ul>

<h2>Thanks</h2>
<a
  target="_blank"
  href="https://www.youtube.com/channel/UCW5YeuERMmlnqo4oq8vwUpg"
  >The Net Ninja</a
>

<%- include('./partials/footer.ejs') %>
