<%- include('./partials/header.ejs') %>

<hr />
<form method="put" action="/update">
  <div class="form-group">
    <label for="taskTitle">Title</label>
    <input
      type="text"
      name="title"
      value="<%= task.title%>"
      class="form-control"
      id="taskTitle"
      placeholder="Enter title"
    />
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>

<%- include('./partials/footer.ejs') %>
